/* 
.mdc-card{

} */

.card{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      

}
.image_card{
    max-width: 60px;
    
}
.image{
    max-width: 10px;
    max-height: 10px;
    
}