.card_container{
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    -webkit-box-shadow: 6px 6px 2px -1px rgba(0,0,0,0.74);
    box-shadow: 6px 6px 2px -1px rgba(0,0,0,0.74);
}
.temperature_container{
    padding: 0%;
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
.image_card{
    max-width: 40px;
}
.image{
    max-width: 10px;
    max-height: 10px;
}