.grid__style{
    /* border: solid 1px black; */
    background-color: cadetblue;
}

.grid__style--item{
    border: solid 3px rgb(255, 255, 255);
    -webkit-box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.67); 
    box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.67);
    margin-bottom: 10px;
}

.grid__style--item-block{
    
}